
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

body{
     font-family: 'Albert Sans', sans-serif;
}

.search-ft-container{
	
    padding: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 15px;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;   
    transition: box-shadow 0.2s ease;
    font-family: 'Quicksand', sans-serif;
}

.bubble{
	min-width: 25px;
    min-height: 25px;
    background: #404040ed;
    position: absolute;
    border-radius: 100px;
    border: 1px solid #5357ff;
    top: 19px;
    right: 9px;
    color: white;
    border: 2px solid white;
    /*animation: zoom 2s infinite;*/

}

.rs{
    font-family: 'Times New Roman';
}

/*@keyframes zoom {
  50% {border-radius: 100px;}
}
*/
.card{
	border: none;
}
 
.mr9{

    margin-right: 9px;
}

.prp-cd{
	border:  none;
 
}

.fs14{
    font-size: 14px;
}

.fs10{
    font-size: 10px;
}

.menu-action{
    background: #e2e2e2;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;

}
.prp-cd > img{
	
    
   	object-fit: cover;
   	height: 300px;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

.filtpop-title{
    font-size: 20px;
    font-weight: bolder;
}
.fw500{
    font-weight: 500;
}

.filtinput{
    display: block;
    height: 50px;
    outline: none;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #d0d0d0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.filtinput:focus{    
     border-color: #c40626;
    box-shadow: none!important;
}



.fltsearchbt {
    height: 49px;
    width: 175px;
    border: none;
    margin-top: 10px;
    border-radius: 39px;
    color: #c40626;
    font-weight: 500;
    background: none;
    border: 1px solid #c40626;
}


.prp-cd > .featimg{
    
    
    object-fit: cover;
    height: 240px;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

.loc-card{
    font-size: 13px;
    color: #797979;
    font-weight: 400;
}

.pr3{
    padding-right: 0px;
}

.p2x{
    padding: 0px;
}


.bubble > span{
	font-size: 9px;
    bottom: 4px;
    left: 2px;
    position: absolute;

}

.bottomnavbar{
	text-align: center;
    background: #212121d9;
    width: 90%;
    margin-left: 19px;    
    border-radius: 100px;
    margin-bottom: 30px;
    backdrop-filter: blur(20px);
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 17px;
    padding-bottom: 17px;

}

.postbtn{
	border: none;
    background: #c40626;
    color: white;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 13px;
}


.search-container{
	border: 1px solid #d7d7d7;
    padding: 10px;
    border-radius: 50px;
    padding-left: 15px;
    display:flex; 
    background: #ffffffd1;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;   
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    font-family: 'Quicksand', sans-serif;
    backdrop-filter: blur(20px);
}

.featured::-webkit-scrollbar { 
    display: none;  
}

.featured{
    scroll-behavior: smooth;
}

.search-container > .search-item{
	padding: 5px;
	padding-right: 20px;
	color: grey;
	
}

.rmd{
	border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 2px;
    height: 30px;
    width: 30px;
}

.mr10{
    margin-right: 10px;
}

.mr15{
    margin-right: 20px;
}


.search-btn{
	border: 1px solid #d7d7d7;
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 15px;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    font-family: 'Quicksand', sans-serif;
    margin-left: -22px;
    z-index: -99;
    background: #c40626d4;
    backdrop-filter: blur(20px);
}

.search-btn > .search-item{
	padding: 5px;
	padding-left: 14px;
	color: white;
	
}

.bg-w{
	background: white;
	border-bottom: 1px solid #8b8b8b1f;
}

.search-item > i{
	margin-left: 5px;
}

.mr6{
    margin-right: 6px;
}


@media only screen and (max-width: 500px) {

.minimg{
    height: 200px!important;
}

.cty{
	display: none;
}

.search-container {
	width: 100%;
    border: 1px solid #d7d7d7;
    padding: 10px;
    border-radius: 50px;
    /* padding-left: 15px; */
    display: flex;
    background: #ffffffd1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    font-family: 'Quicksand', sans-serif;
    backdrop-filter: blur(20px);

}

.con{
    scroll-behavior: smooth;
}




.search-container > .search-item {
    padding: 5px;
    /* padding-right: 20px; */
    color: grey;
    /* border-right: 1px solid #dedede; */
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}


.search-btn {
    border: 1px solid #c40626;
    padding: 7px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    font-family: 'Quicksand', sans-serif;
    margin-left: -29px;
    z-index: -99;
    background: #c40626d4;
    backdrop-filter: blur(20px);
}

.search-btn > .search-item {
    padding: 5px;
    padding-left: 24px;
    color: white;

}


.search-item > .sepet{
	font-size: 10px;
    color: #c40626;
}


}
